[submodule "forks/wlroots"]
	path = forks/wlroots
	url = https://github.com/moonlight-pm/oath-wlroots.git
[submodule "forks/river"]
	path = forks/river
	url = https://github.com/moonlight-pm/oath-river.git
[submodule "forks/sola"]
	path = forks/sola
	url = https://github.com/moonlight-pm/oath-sola.git
